/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/public
/storage/*.key
/vendor
.env
.env.bkp.*
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.docker
.docker-data
.git
/.docker
/.docker-data
/.git
public/.cache/
public/uploads/*
public/temp/*
cronfile
docker-compose.yml
Dockerfile
entrypoint.sh
supervisord.conf
supervisord.log
supervisord.pid
_ide_helper.php
_ide_*
.phpstorm.meta.php
*no*commit*
*No*Commit*
*NO*COMMIT*
*.bkp.*
*.bkp
/*.out
